.hero {
    background: $hero url('../img/hero/hero.jpg') no-repeat center top 80px;
    background-size: contain;
    padding-top: 120px;
    padding-bottom: 270px;
    &__title {
        font-size: 30px;
        margin-bottom: 40px;
    }
    &__subtitle {
        display: block;
        margin-bottom: 67px;
        font-size: 30px;
        @include bold;
    }
    
}